<html>
<head>        
<link rel="stylesheet" href="../static/template.css">
{% block scripts %}
		
{% endblock %}
</head>
<body id="grad">
    <div class="Container">
        <div class="Header"> UNIPER Business Intelligent Tool</div>
        <div class="Navigation">
          <table cellpadding=0 cellspacing=0>
              <tr>
                  <td class="cellone"><a href="#">Dashboard</a></td>
                  <td class="celltwo"></td>
                  <td class="cellone"><a href="#">Business Checks</a></td>
                  <td class="celltwo"></td>
                  <td class="cellone"><a href="#">Data Checks</a></td>
                  <td class="celltwo"></td>
                  <td class="cellone"><a href="#">Logs</a></td>
                  <td class="celltwo"></td>
                  <td class="cellone"><a href="#">UAM</a></td>
                  <td class="celltwo"></td>
                  <td class="cellone"><a href="#">Data API</a></td>
              </tr>
          </table>

        </div>
        {%block content%}
  
         {%endblock%}

    
       
    </div>
<div>&nbsp;</div>


</body>
</html>


